@model EmployeeManagement.Models.ApplicationUserViewModel;
@{

}

<table id="customers">
    <tr>
        <th style="border-bottom: 2px solid black;" width: 10%;">S no.</th>
        <th style="border-bottom: 2px solid black;">Name</th>
        <th style="border-bottom: 2px solid black;" class="mail">Email</th>
        <th style="border-bottom: 2px solid black;" class="address">
            Address
        </th>
        <th style="border-bottom: 2px solid black;" class="phone">Phone</th>
        <th style="border-bottom: 2px solid black;">Action</th>
    </tr>
    @{int i = 1;}
    @foreach (var user in Model.UserList)
    {
        if (user.Employee_Id != "1")
        {
            <tr>

                <td>@(i++)</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td> @user.Address</td>
                <td class="phone">@user.Phone</td>
                <td>
                    @*<i class="fas fa-user-edit btnUpdate " id=@employee.Employee_Id></i>*@
                    <i class="fas fa-trash-alt btnDelete " id=@user.Employee_Id></i>

                </td>

            </tr>
        }
    }
</table>