@model EmployeeManagement.Models.EmployeeViewModel
@{
    ViewData["Title"] = "Index";
}

<form method="get">
    <div class=" input-group">
        <input class="form-control" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-dark ">search</button>
        </div>
    </div>
</form>
<h1>All Employees</h1>

<button class="btn btn-primary" id="btnAdd"> Add Employee</button>
<div id="EmployeeList"></div>


<table class="table table-striped">

    <thead>
        <tr>
            <th scope="col">S.N</th>
            <th scope="col">Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Address</th>
            <th scope="col">Gender</th>
            <th scope="col">Dob</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;}
        @foreach (var employee in Model.EmployeeList)
        {
            <tr scope="row">
                <td>@(i++)</td>
                <td>@employee.Id</td>
                <td>@employee.FullName</td>
                <td>@employee.Address</td>
                <td>@employee.Gender</td>
                <td>@employee.Dob.ToShortDateString()</td>
                <td>
                    <button class="btn btn-dark btnUpdate" OnClick="Update"onclick="location.href='@Url.Action( "Update")'" id=@employee.Id>Update</button>
                    @*<button class=" btn btn-primary btnUpdate" id=@employee.Id>Update</button>*@
                    <button class= "btn btn-primary btnDelete" id=@employee.Id>Delete </button>
                </td>
            </tr>
        }
    </tbody>
</table>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnAdd").click(function () {
            $.ajax({
                type: "GET",
                url: "/Employee/Create",
                success: function (response) {
                    $('#EmployeeList').empty();
                    $('#EmployeeList').html(response);
                    console.log(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
        $(".btnUpdate").click(function () {
            $.ajax({
                type: "GET",
                //url: form.Update,
               url: "/Employee/Update",
                data: { id: this.id },
                success: function (response) {

                    $('#EmployeeList').empty();
                    $('#EmployeeList').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
        $(".btnDelete").click(function () {
            var r = confirm("Are you sure you want to delete!");
            if (r == true) {
                $.ajax({
                    type: "GET",
                    url: "/Employee/Delete",
                    data: { id: this.id },
                    success: function (response) {
                        window.location.reload(true)
                    }
                });
            } else {
                console.log("cancel")
            }
        });


    });

</script>