@model EmployeeManagement.Models.EmployeeViewModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
@*<div id="EmployeeList">
        <div class="col-sm-6 form-group">
            <input id="txtVal" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">

        </div>
        <div class="col-sm-6 form-group">
            <button class="btn btn-primary" id="btnSearch"> Search</button>

        </div>
        <h1>All Employees</h1>

        <button class="btn btn-primary" id="btnAdd" > Add Employee</button>



        <table class="table table-striped">

            <thead>
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">MiddleName</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Designation Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Dob</th>
                    <th scope="col">PhoneNo</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
    @{int i = 1;}
        @foreach (var employee in Model.EmployeeList)
        {
        <tr> scope="row"></tr>
            <td>@(i++)</td>
            <td>@employee.Employee_Id</td>
            <td>@employee.FirstName</td>
            <td>@employee.MiddleName</td>
            <td>@employee.LastName</td>
            <td>@employee.Address</td>
            <td>@employee.DesignationName</td>
            <td>@employee.GenderName</td>
            <td>@employee.Dob.ToShortDateString()</td>
            <td>@employee.Phone</td>

    <td>
    <button class="btn btn-dark btnUpdate" id=@employee.Employee_Id>Update</button>
        <button class="btn btn-primary btnDelete" id=@employee.Employee_Id>Delete </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        </div>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Podkova&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="~/image/c2.jpg">
    <link rel="stylesheet" href="~/fontawesome-free-5.15.4-web/css/all.css">
    <title>Employee-List</title>
</head>
<body>
    <main class="main-container" id="mySidenav">
        <article>
            <div class="sidenav">
                <span class="closebtn"><i class="fas fa-times"></i></span>

                <div style="
                        flex: 0.3;
                    ">
                    <h1>Minal Pandit</h1>

                </div>
                <div>

                    <a href="./employee.html">Employee-List</a>
                    <a href="./user-list.html">User-List</a>
                </div>


            </div>


            <div class="side-body">
                <div class="iconImage" id="main">
                    <span style="font-size:30px;cursor:pointer">&#9776;</span>
                    <div class="imgContainer" onclick="openForm()">
                        <img src="./image/c2.jpg" alt="">
                    </div>

                </div>


                <div class="form-popup" id="myForm">
                    <form class="form-container">
                        <div style="display: flex; justify-content: space-between; padding: 2px;">
                            <button type="button" class="btn cancel" onclick="closeForm()">
                                <i class="far fa-times-circle"></i>
                            </button>
                            <div>
                                <button class="logout-btn"><i class="fas fa-power-off"></i></button>
                            </div>


                        </div>

                        <div style="text-align: center;">
                            <h1>Minal Pandit</h1>
                            <p>meenalme1@gmail.com</p>
                        </div>
                        <div class="forget-pw" style="display: flex; justify-content: space-evenly;">
                            <button>Forget Password?</button>

                        </div>
                        <div>


                        </div>




                    </form>
                </div>


                <article>
                    <div class="user-employee-header">
                        <h2>
                            Employee-List
                        </h2>
                    </div>
                    <div class="text-icon">
                        <div class="text">
                            <button id="myBtn">Add Employee <i class="fas fa-user-plus"></i></button>

                        </div>
                        <div id="myModal" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="close">&times;</span>
                                    <h2>New Employee</h2>
                                    <p>Enter Information About Employee</p>
                                </div>
                                <div class="modal-body">
                                    <partial name="Create.cshtml" />
                                    @*<form name="user-form" class="form-content">
                                            <div class=" form-name-details">
                                                <div class=" name">
                                                    <label for="fname">First Name</label>
                                                    <input type="text" id="fname" name="fname" required />
                                                </div>
                                                <div class=" name">
                                                    <label for="mname">Middle Name</label>
                                                    <input type="text" id="mname" name="mname" required />
                                                </div>
                                                <div class="name">
                                                    <label for="lname">Last Name</label>
                                                    <input type="text" id="lname" name="lname" required />
                                                </div>
                                            </div>
                                            <div class=" form-salary-designation-details">

                                                <div class="name">
                                                    <label for="designation">Designation</label>
                                                    <select id="designation" name="designation">
                                                        <option style="display: none;" value=""></option>
                                                        <option value="frontend-developer">Front-end Developer</option>
                                                        <option value="backend-developer">Backend-Developer</option>
                                                        <option value=".net-developer">.Net Developer</option>
                                                        <option value="flutter-developer">Flutter-Developer</option>

                                                    </select>
                                                </div>
                                                <div class="name">
                                                    <label for="salary">Salary</label>
                                                    <input type="number" name="salary" id="salary">
                                                </div>
                                            </div>

                                            <div class=" form-mail-details">
                                                <div class="name">
                                                    <label for="email">Email:</label>
                                                    <input type="email" id="email" name="email" required />
                                                </div>

                                                <div class="name">
                                                    <label for="username">User Name</label>
                                                    <input type="text" name="username" id="username">
                                                </div>
                                            </div>
                                            <div class="user form-add-phn-details">

                                                <div class="name">
                                                    <label for="address">Address:</label>
                                                    <input type="text" id="address" name="address">
                                                </div>

                                                <div class="name">
                                                    <label for="phone">Phone:</label>
                                                    <input type="tel" id="phone" name="phone">
                                                </div>
                                            </div>
                                            <div class="user form-dob-gender-details">
                                                <div class="name">
                                                    <label for="dob">Date Of Birth:</label>
                                                    <input type="date" id="dob" name="dob">
                                                </div>
                                                <div class="name gender">
                                                    <span>Gender:</span>
                                                    <div class="gender-content">
                                                        <div>
                                                            <input type="radio" name="male" id="male">
                                                            <label for="male">Male</label>
                                                        </div>
                                                        <div>
                                                            <input type="radio" name="male" id="male">
                                                            <label for="male">Female</label>
                                                        </div>
                                                        <div>
                                                            <input type="radio" name="male" id="male">
                                                            <label for="male">Others</label>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>


                                            <div class="">
                                                <div class="submit-btn modal-footer">



                                                    <button id="submit" type="submit">Submit</button>


                                                </div>
                                            </div>

                                        </form>*@
                                </div>



                            </div>


                        </div>
                        <div id="snackbar"><i class="far fa-check-circle"></i> Submitted Sucessfully </div>
                        <div class="search-container">
                            <input class="search" type="Search" placeholder="Search employee">
                            <div class="iconSearch">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>

                        </div>


                    </div>
                </article>
                <article>
                    <table id="customers">
                        <tr>
                            <th style="border-bottom: 2px solid black;" width: 10%;">S no.</th>
                            <th style="border-bottom: 2px solid black;">Name</th>
                            <th style="border-bottom: 2px solid black;" class="mail">Email</th>
                            <th style="border-bottom: 2px solid black;" class="address">
                                Address
                            </th>
                            <th style="border-bottom: 2px solid black;" class="phone">Phone</th>
                            <th style="border-bottom: 2px solid black;">Action</th>
                        </tr>
                        @{int i = 1;}
                        @foreach (var employee in Model.EmployeeList)
                        {

                            <tr>

                                <td>@(i++)</td>
                                <td>@employee.FirstName @employee.MiddleName @employee.LastName </td>
                                <td>@employee.Email</td>
                                <td> @employee.Address</td>
                                <td class="phone">@employee.Phone</td>
                                <td>
                                    <i class="fas fa-user-edit btnUpdate " id=@employee.Employee_Id></i>
                                    <i class="fas fa-trash-alt btnDelete " id=@employee.Employee_Id></i>
                                    @*<button class="btn btn-primary btnDelete" id=@employee.Employee_Id>Delete </button>*@
                                </td>

                            </tr>
                        }

                        </table>


                        <div class=" nextPage ">
                            <a href=" ./user-list.html ">1</a>
                            <a href=" ./user-list.html ">2</a>
                            <a href=" ./user-list.html ">3</a>

                        </div>
                    </article>





                </div>


            </article>
        </main>
    </body>
</html>
<script src="~/js/employee.js"></script>


@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
    <script type="text/javascript">
        $(function () {
            //$("#btnAdd").click(function () {
            //    debugger
            //    $.ajax({
            //        type: "GET",
            //        url: "/Employee/Create",
            //        success: function (response) {
            //            $('#EmployeeList').empty();
            //            $('#EmployeeList').html(response);
            //            console.log(response);
            //        },
            //        failure: function (response) {
            //            alert(response.responseText);
            //        },
            //        error: function (response) {
            //            alert(response.responseText);
            //        }
            //        //    });
                //});
                //$(".btnUpdate").click(function () {
                //    $.ajax({
                //        type: "GET",
                //        url: "/Employee/Update",
                //        data: { id: this.id },
                //        success: function (response) {
                //            $('#EmployeeList').empty();
                //            $('#EmployeeList').html(response);
                //        },
                //        failure: function (response) {
                //            alert(response.responseText);
                //        },
                //        error: function (response) {
                //            alert(response.responseText);
                //        }
                //    });
                //});
                $(".btnDelete").click(function () {
                    var r = confirm("Are you sure you want to delete!");
                    if (r == true) {
                        $.ajax({
                            type: "GET",
                            url: "/Employee/Delete",
                            data: { id: this.id },
                            success: function (response) {
                                window.location.reload(true)
                            }
                        });
                    } else {
                        console.log("cancel")
                    }
                    //});
                //    $("#btnSearch").click(function () {
                //        debugger
                //        $.ajax({
                //            type: "GET",
                //            url: "/Employee/_PartialEmployees",
                //            type: 'GET',
                //            data: {
                //                val: $('#txtVal').val(),

                //            },
                //            success: function (response) {
                //                $('#EmployeeList').empty();
                //                $('#EmployeeList').html(response);
                //            },
                //            failure: function (response) {
                //                alert(response.responseText);
                //            },
                //            error: function (response) {
                //                alert(response.responseText);
                //            }
                //        });
                //    });
                //});
    </script>


