@model EmployeeManagement.Models.EmployeeViewModel
@{
    ViewData["Title"] = "Index";
    var data = ViewBag.Gender;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Podkova&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="~/image/c2.jpg">
    <link rel="stylesheet" href="~/fontawesome-free-5.15.4-web/css/all.css">
    <title>Employee-List</title>
</head>
<body>
    <main class="main-container" id="mySidenav">
        <article>

            @*<span class="closebtn"><i class="fas fa-times"></i></span>*@

            @*<div style="
                flex: 0.3;
            ">
            <h1>Minal Pandit</h1>

        </div>*@
            <!--<div>

            <a asp-controller="Employee" action="Index">  Employee-List</a>

            <a asp-controller="ApplicationUser" action="Index">User-List</a>
        </div>


    </div>

    <div class="iconImage" id="main">
        <span style="font-size:30px;cursor:pointer">&#9776;</span>
        <div class="imgContainer" onclick="openForm()">
            <img src="./image/c2.jpg" alt="">
        </div>

    </div>-->
            @*<div class="form-popup" id="myForm">
                <form class="form-container">
                    <div style="display: flex; justify-content: space-between; padding: 2px;">
                        <button type="button" class="btn cancel" onclick="closeForm()">
                            <i class="far fa-times-circle"></i>
                        </button>
                        <div>
                            <button class="logout-btn"><i class="fas fa-power-off"></i></button>
                        </div>


                    </div>

                    <div style="text-align: center;">
                        <h1>Minal Pandit</h1>
                        <p>meenalme1@gmail.com</p>
                    </div>
                    <div class="forget-pw" style="display: flex; justify-content: space-evenly;">
                        <button>Forget Password?</button>

                    </div>
                    <div>


                    </div>




                </form>
            </div>*@
            <div class="side-body">

                  <article>
                    <div class="user-employee-header">
                        <h2>
                            Employee-List
                        </h2>
                    </div>
                    <div class="text-icon">
                        <div class="text">
                            <button id="myBtn">Add Employee <i class="fas fa-user-plus"></i></button>

                        </div>
                        <div id="myModal" class="modal">

                        </div>
                        <div id="snackbar"><i class="far fa-check-circle"></i> Submitted Sucessfully </div>
                        <div class="search-container">
                            <input class="search" type="Search" placeholder="Search employee">
                            <div class="iconSearch">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>

                </article>
                <article>
                    <table id="customers">
                        <tr>
                            <th style="border-bottom: 2px solid black;" width: 10%;">S no.</th>
                            <th style="border-bottom: 2px solid black;">Name</th>
                            <th style="border-bottom: 2px solid black;" class="mail">Email</th>
                            <th style="border-bottom: 2px solid black;" class="address">
                                Address
                            </th>
                            <th style="border-bottom: 2px solid black;" class="phone">Phone</th>
                            <th style="border-bottom: 2px solid black;">Action</th>
                        </tr>
                        @{int i = 1;}
                        @foreach (var employee in Model.EmployeeList)
                        {
                            if (employee.Employee_Id != 1004)
                            {
                                <tr>

                                    <td>@(i++)</td>
                                    <td>@employee.FirstName @employee.MiddleName @employee.LastName </td>
                                    <td>@employee.Email</td>
                                    <td> @employee.Address</td>
                                    <td class="phone">@employee.Phone</td>
                                    <td>
                                        <i class="fas fa-user-edit btnUpdate " id=@employee.Employee_Id></i>
                                        <i class="fas fa-trash-alt btnDelete " id=@employee.Employee_Id></i>

                                    </td>

                                </tr>
                            }
                        }
                    </table>
                    <div class=" nextPage ">
                        <a asp-controller="Employee" asp-action="Index">1</a>
                        <a asp-controller="Employee" asp-action="Index">2</a>
                        <a asp-controller="Employee" asp-action="Index">3</a>

                    </div>
            </div>

        </article>
</main>
</body>
</html>
<script src="~/js/employee.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@

    <script type="text/javascript">
        $(function () {
            $("#myBtn").click(function () {
                debugger
                $.ajax({
                    type: "get",
                    url: "/Employee/Create",
                    success: function (response) {
                        $('#myModal').html(response);
                        $('#myModal').css({ display: "block" });
                    }
                });
            });
        $(".btnDelete").click(function () {
            var r = confirm("Are you sure you want to delete!");
        if (r == true) {
            $.ajax({
                type: "get",
                url: "/Employee/delete",
                data: { id: this.id },
                success: function (response) {
                    window.location.reload(true)
                }
            });
            } else {
            console.log("cancel")
        }
        });

        $(".btnUpdate").click(function () {
            debugger
        $.ajax({
            type: "GET",
        url: "/Employee/Create",
        data: {id: this.id },
        success: function (response) {
            $('#myModal').html(response);
        $('#myModal').css({display: "block" });
                },
        failure: function (response) {

            alert(response.responseText);
                },
        error: function (response) {
            alert(response.responseText);
                }
            });
        });
    });

</script>

