@model EmployeeManagement.Models.AttendenceViewModel
@{
    bool IsTurnOut = false;

    if (!Model.IsTurnIn)
    {
        IsTurnOut = true;

    }
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/Leave.css">
@using Microsoft.AspNetCore.Identity
@using EmployeeManagement.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}

<main class="main-container">
    <article>
        <div class="side-body">
            <article>
                <div class="user-employeeleave-header">
                    <div>
                        <h2>Attendence</h2>
                    </div>
                    @{
                        DateTime date = DateTime.Now;
                        string currentDate = DateTime.UtcNow.ToString("yyyy-MM-dd");
                    }
                    <div>
                        <p>
                            Please fill in this form with all the information.
                        </p>
                    </div>
                    <div class="leave-form-calender">


                        <div class="form-group row">
                            <label for="Employee-Name" class="col-sm-2 col-form-label">Employee-Name</label>
                            <div>
                                <input type="text" class="form-control" id="Employee-Name" asp-for="EmployeeName" value="@UserManager.GetUserAsync(User).Result.UserName">
                                <input type="hidden" asp-for="Employee_Id" value="@UserManager.GetUserAsync(User).Result.EId" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Attendance-Date" class="col-sm-2 col-form-label">Attendance-Date</label>
                            <div class="col-lg-6">
                                <input value="@currentDate" asp-for="Date" class="form-control" id="Attendance-Date">
                            </div>
                        </div>
                        <form asp-controller="Attendence" asp-action="Index" method="post">
                            <div class="form-group row">
                                <button disabled="@Model.IsTurnIn"  name="button" value="@date" type="submit" class="btn btn-secondary btn-lg">Turn In</button>
                                <input value="@date" asp-for="Turn_in" type="text" class="text-from" />
                                @TempData["ButtonValue"]
                                <input type="hidden" value="@currentDate" asp-for="Date">
                                <input type="hidden" value="TurnIn" asp-for="Type">
                                <input type="hidden" asp-for="EmployeeName" value="@UserManager.GetUserAsync(User).Result.UserName">
                                <input type="hidden" asp-for="Employee_Id" value="@UserManager.GetUserAsync(User).Result.EId" />
                            </div>
                        </form>
                        <form asp-controller="Attendence" asp-action="Index" method="post">
                            <div>
                                <button disabled="@IsTurnOut" type="submit" name="button" value="@date"  class="btn btn-secondary btn-lg">Turn Out</button>
                                <input value="@date" asp-for="Turn_out" type="text" class="text-from" />
                                @TempData["ButtonValue"]
                                <input type="hidden" asp-for="Turn_in">
                                <input type="hidden" value="@currentDate" asp-for="Date">
                                <input type="hidden" asp-for="Attendence_Id">
                                <input type="hidden" asp-for="EmployeeName" value="@UserManager.GetUserAsync(User).Result.UserName">
                                <input type="hidden" asp-for="Employee_Id" value="@UserManager.GetUserAsync(User).Result.EId" />
                            </div>
                            
                            @*<div class="form-group row">
                                <div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>*@
                        </form>

</article>
</main>