@model EmployeeManagement.Models.AttendenceViewModel
@{
    bool IsTurnOut = false;

    if (!Model.IsTurnIn)
    {
        IsTurnOut = true;

    }
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/Leave.css">
@using Microsoft.AspNetCore.Identity
@using EmployeeManagement.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string role = HttpContextAccessor.HttpContext.Session.GetString("Role");
    var uts = Model;
}

<main class="main-container">
    <article>
        <div class="side-body">
            <article>
                <div class="user-employeeleave-header">
                    <div>
                        <h2>Attendence</h2>
                    </div>
                    @{
                        DateTime date = DateTime.Now;
                        string currentDate = DateTime.UtcNow.ToString("yyyy-MM-dd");
                        DateTime TurnInTime = Model.Turn_in == DateTime.MinValue ? date : Model.Turn_in;
                        DateTime TurnOutTime = Model.Turn_out == DateTime.MinValue ? date : Model.Turn_out;
                    }
                    <div>
                        <p>
                            Please fill in this form with all the information.
                        </p>
                    </div>
                    @*<div class="leave-form-calender">*@

                    <div>

                        <label for="Employee-Name">Employee-Name</label>
                        <div>
                            <input type="text" class="form-control" id="Employee-Name" asp-for="EmployeeName" value="@UserManager.GetUserAsync(User).Result.UserName">
                            <input type="hidden" asp-for="Employee_Id" value="@UserManager.GetUserAsync(User).Result.EId" />
                        </div>

                    </div>
                    <div>

                        <label for="Attendance-Date">Attendance-Date</label>
                        <div class="col-lg-6">
                            <input value="@currentDate" asp-for="Date" class="form-control" id="Attendance-Date">
                        </div>

                    </div>
                    <div>
                        <form asp-controller="Attendence" asp-action="Index" method="post">

                            <button disabled="@Model.IsTurnIn" name="button" value="@date" type="submit" class="btn btn-secondary btn-lg">Turn In</button>
                            <input value="@TurnInTime" asp-for="Turn_in" type="text" class="text-from" />
                            @TempData["ButtonValue"]
                            <input type="hidden" value="@currentDate" asp-for="Date">
                            <input type="hidden" value="TurnIn" asp-for="Type">
                            <input type="hidden" asp-for="EmployeeName" value="@UserManager.GetUserAsync(User).Result.UserName">
                            <input type="hidden" asp-for="Employee_Id" value="@UserManager.GetUserAsync(User).Result.EId" />

                        </form>
                    </div>
                    <div>
                        <form asp-controller="Attendence" asp-action="Index" method="post">
                            <div>
                                <button disabled="@Model.IsTurnOut" type="submit" name="button" value="@date" class="btn btn-secondary btn-lg">Turn Out</button>
                                <input value="@TurnOutTime" asp-for="Turn_out" type="text" class="text-from" />
                                @TempData["ButtonValue"]
                                <input type="hidden" asp-for="Turn_in">
                                <input type="hidden" value="@currentDate" asp-for="Date">
                                <input type="hidden" asp-for="Attendence_Id">
                                <input type="hidden" asp-for="EmployeeName" value="@UserManager.GetUserAsync(User).Result.UserName">
                                <input type="hidden" asp-for="Employee_Id" value="@UserManager.GetUserAsync(User).Result.EId" />
                            </div>

                            @*<div class="form-group row">
                                    <div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>*@
                        </form>
                    </div>

            </article>
</main>
<script>

    $("#Attendance-Date").change(function () {
        debugger
        var data = $("#Attendance-Date").attr("value")
        var pata=$(this).val()
        $.ajax({

            type: "GET",
            url: "/Attendence/Index?date="+pata,
            type: 'GET',
            success: function (response) {
                $("html").html(response)
            }

        });
    })
</script>